.container{
   display: flex;
   flex-direction: row;
   width: 100vw;
   padding: 15px;
   margin-bottom: 30px;
}.container:hover{
   cursor: pointer;
}

.logo{
   display: flex;
   flex-direction: row;
}

.text{
   margin-right: 10px;
}