.container{
   display: flex;
   flex-direction: row;
   width: 100vw;
   padding: 30px;
   margin-bottom: 30px;
}

.logo{
   display: flex;
   flex-direction: row;
   background: none;
   border: none;
   cursor: pointer;
}

.text{
   margin-right: 10px;
}