.container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 10px;
}

.text {
   font-size: 14px;
   font-weight: bold;
}

.active {
   padding: 10px 20px 10px 20px;
   background-color: var(--primary-color);
   color: #FFFFFF;
   border: none;
   border-radius: 50px;
   cursor: pointer;
}

.button {
   padding: 10px 20px 10px 20px;
   background-color: var(--secondary-color);
   border: none;
   border-radius: 50px;
   cursor: pointer;
}