@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: 'Inter', arial;

  --primary-font-color: #000000;
  --secondary-font-color: #565656;

  --background: #FFFFFF;

  --primary-color: #AD00FF;
  --secondary-color: #DCDCDC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-font-color: #FFFFFF;
    --background: #0E0E0E;
    --secondary-color: #1E1E1E;
  }
}

* {
  font-family: var(--font-mono);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--primary-font-color);
  background: var(--background);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 70px;
}

h1,
h2,
h3,
h4 {
  white-space: nowrap;
  overflow: hidden;
}

h3,
h4,
p {
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 920px) {
  h3 {
    font-size: 34px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}