@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: 'Inter', 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --primary-font-color: #000000;
  --secondary-font-color: #565656;

  --background: #FFFFFF;

  --primary-color: #AD00FF;
  --secondary-color: #DCDCDC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-font-color: #FFFFFF;
    --background: #0E0E0E;
    --secondary-color: #1E1E1E;
  }
}

* {
  font-family: var(--font-mono);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary-font-color);
  background: var(--background);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 70px;
}

p {
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}