.main {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
}

.leftContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  padding: 0px 15px 30px 30px;
  gap: 10px;
}

.rightContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  padding: 0px 30px 30px 15px;
  gap: 10px ;
}

.rightText{
  text-align: center;
  font-weight: bold;
}

.rightGrayText{
  text-align: center;
  font-weight: bold;
  color: #565656;
}

.storeButtonContaier{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

@media screen and (max-width: 920px){
  
  .main{
    flex-direction: column;
  }

  .leftContainer{
    width: 100vw;
    min-height: 100vh;
    padding: 0px 30px 30px 30px;
    justify-content: start;
    gap: 100px;
  }

  .leftText{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 50px;
  }

  .storeButtonContaier{
    justify-content: center;
  }

  .rightContainer{
    width: 100vw;
    min-height: 100vh;
    padding: 30px 30px 30px 30px;
    gap: 30px;
  }
}