.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.leftContainer{
  width: 50vw;
  padding: 0px 15px 30px 30px;
}

.rightContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  padding: 0px 30px 30px 15px;
  gap: 10px ;
}

.rightText{
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.rightGrayText{
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #565656;
}