.main {
  display: flex; 
  flex-direction: column;
}

.principalContainers {
  padding: 30px;
}

.briefContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.briefLeftRightDivider {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.leftContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  padding: 0px 15px 30px 30px;
  gap: 10px;
}

.rightContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  padding: 0px 30px 30px 15px;
  gap: 10px ;
}

.rightText{
  text-align: center;
  font-weight: bold;
}

.rightGrayText{
  text-align: center;
  font-weight: bold;
  color: var(--secondary-font-color);
}

.storeButtonContainer{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.sectionTitle {
  width: 100%;
}

.opinionsContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-width: 100vw;
  min-height: 100vh;
}

.rightAlignedText{
  text-align: right;
}

.centerAlignedText {
  text-align: center;
}

.opinionsDivider {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.opinionColumn {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.advertisingSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-height: 100vh;
}

.advertisingScenariosContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  max-width: 840px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 50px;
}

@media screen and (max-width: 920px){
  
  .briefLeftRightDivider{
    flex-direction: column;
  }

  .leftContainer{
    width: 100vw;
    min-height: 100vh;
    padding: 0px 30px 30px 30px;
    justify-content: start;
    gap: 100px;
  }

  .leftText{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 50px;
  }

  .storeButtonContainer{
    justify-content: center;
  }

  .rightContainer{
    width: 100vw;
    min-height: 100vh;
    padding: 30px 30px 30px 30px;
    gap: 30px;
  }

  .opinionsDivider {
    flex-direction: column;
  }
}